                             <nav id="nav">
							<ul>
								<li><%= link_to "Home", root_path %></li>
								
							    <li><%= link_to "text", pages_test_path %></li>
									
								
								<li><%= link_to "login", users_login_path %></li>
								<li><%= link_to "index", pages_about_us_path %></li>
								
							</ul>
						</nav>
